.bg-black{
    background-color: #000;
    }

  .list-group{
    --bs-list-group-bg: transparent;
  }

    .fa-brands.fa-linkedin.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #006affcc !important;
  }

  .fa-brands.fa-instagram.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #ff6200fc !important;
  }

  .fa-brands.fa-facebook.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #1900fffc !important;
  }

  .fa-brands.fa-github.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #087713fc !important;
  }

  section.banner{
    background-image: url(../img/paisaje4.png);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -min-background-size: cover;
    left: 0%;
    align-items: center;
    background-size: cover;
  }

  h3.intro{
    padding-top: 15%;
    font-size: 3rem;
  }

  h1.intro{
    font-size: 4,5rem;
  }

  h2.intro{
    font-size: 3,25rem;
  }

  .progress-bar{
    height: 20px;
  }

  .Perfil{
    transition: 400ms;
    box-shadow: 10px, 25px, 15px #000;

  }

  .Video{
    transition: 400ms;
    box-shadow: 10px, 25px, 15px #000;
  }

  .Soporte{
    transition: 400ms;
    box-shadow: 10px, 25px, 15px #000;
  }

  .administrativa{
    transition: 400ms;
    box-shadow: 10px, 25px, 15px #000;
  }

    .administrativa:hover{
      opacity: 0,3;
    }

    .progress-bar{
      background-color: darkorange;
      text-align: center;
      --bs-progress-height: 1,5rem
    }

  .card:hover{
    box-shadow: 5px 50px 20px rgba(black);
    transform: translateY(-3%);
  }

  .card-img-top{
    width: 100%;
    height: 80%;
  }

  footer.bg-black{
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: static;
    
  }

  .login{
    height: 65vh;
  }

  .formulario-login{
    margin-top: 10%;
  }

  .perfil{
    width: 70%;
  }

  .admin{
    font-size: 1.5rem;
    
  }

  .link{
    text-decoration: none;
    color: #000;
  }

  nav.vertical{
    float: left;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }

  li.vertical{
    display: block;
    margin: 0%;
    writing-mode: vertical;
    padding: 0.75rem 0;
    font-size: 1.25rem;
    
  }
  a, a:hover {
    text-decoration: none;
    color: #000;
  }

  
  